[buildout]
develop = .

parts = 
    scripts
    test
    instance
    omelette

versions = versions

extends =  
    http://good-py.appspot.com/release/dexterity/1.1?plone=4.1.2
    http://dist.plone.org/release/4.1.2/versions.cfg
    versions.cfg

extensions = mr.developer buildout.dumppickedversions

sources-dir = dev
eggs = 
    apprepo.site 
    Pillow

newest = false

auto-checkout =
    diazotheme.bootstrap
    collective.miscbehaviors
    collective.packagekit

[sources]
diazotheme.bootstrap=git git@github.com:kagesenshi/diazotheme.bootstrap.git
collective.miscbehaviors=svn https://svn.plone.org/svn/collective/collective.miscbehaviors/trunk
collective.packagekit=git git@github.com:kagesenshi/collective.packagekit.git

[versions]

[scripts]
recipe = zc.recipe.egg
eggs = 
    ${buildout:eggs}
    zest.releaser

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs = ${buildout:eggs}

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
shared-blob = on

eggs = 
    ${buildout:eggs}

zcml =
    apprepo.site

environment-vars =
    PYTHON_EGG_CACHE ${buildout:directory}/var/egg-cache

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}
