[versions]
Pillow = 1.7.5
Solgema.fullcalendar = 1.10
collective.plonetruegallery = 1.3.2
flickrapi = 1.4.2
gdata = 2.0.14
plone.resource = 1.0b5
repoze.xmliter = 0.4
zest.releaser = 3.22

#Required by:
#fedoramy.site 1.0
Products.Scrawl = 2.0b1

#Required by:
#Solgema.fullcalendar 1.10
Solgema.ContextualContentMenu = 0.1

#Required by:
#fedoramy.site 1.0
cioppino.twothumbs = 1.2

#Required by:
#redturtle.video 0.6.0
collective.flowplayer = 3.0rc4

#Required by:
#Solgema.fullcalendar 1.10
collective.js.jqueryui = 1.8.13.1

#Required by:
#fedoramy.site 1.0
collective.quickupload = 1.2.0

#Required by:
#plone.app.theming 1.0b8
diazo = 1.0rc4

#Required by:
#diazo 1.0rc3
experimental.cssselect = 0.1

#Required by:
#redturtle.video 0.6.0
#collective.flowplayer 3.0rc4
hachoir-core = 1.3.3

#Required by:
#redturtle.video 0.6.0
#collective.flowplayer 3.0rc4
hachoir-metadata = 1.3.3

#Required by:
#redturtle.video 0.6.0
#collective.flowplayer 3.0rc4
hachoir-parser = 1.3.4

#Required by:
#fedoramy.site 1.0
plone.app.theming = 1.0b8

#Required by:
#plone.app.theming 1.0b8
plone.subrequest = 1.6.1

#Required by:
#fedoramy.site 1.0
redturtle.video = 0.6.0

#Required by:
#fedoramy.site 1.0
sc.social.bookmarks = 1.2.1


plone.contentratings = 1.0
contentratings = 1.0

collective.recipe.omelette = 0.10

#Required by:
#apprepo.site 1.0
Products.ContentWellPortlets = 4.0

#Required by:
#collective.miscbehaviors 0.2dev
collective.autopermission = 1.0b1

#Required by:
#collective.miscbehaviors 0.2dev
collective.dexteritytextindexer = 1.4.1

